{%load static %}
<!DOCTYPE html>
  <html>
    <head>
      <title>Login Here !! </title>

    </head>
    <body>

		<script src="{%static 'EmployeeData/validateEmpRegstForm.js' %}"></script>
		<div class="topnav">
        <a class="active" name="user" href="{%url 'login' %}"> Log In : {{request.user.username }} </a>
        <a href="{%url 'logout' %}"><font color="red">Log out</font></a>

    </div>

		<form name="myForm" onsubmit=" " method="post" action= ''>
			{% csrf_token %}
		<font color="red"><span>{{error}}</span></font><br>
		<div class="input-group">
			<label><i>Username:<font color="red">*<span id="username"></span></font></i></label>
			<input type="text" name="username" required >
		</div>
	 	<div class="input-group">
			<label><i>Password:<font color="red">*<span id="password"></span></font></i></label>
			<input type="password" name="password" required >
		</div>
		<div class="input-group">
			<button type="submit" name="login" class="btn"><b>Submit</b></button>
		</div>

		</form>

    </body>

  </html>>