<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOgin </title>
</head>
<body>
     <h2> Please Register here !</h2>

<form name="myForm" onsubmit="return validateForm()" method="post" action= "{% url 'save_emp_Data' %}" >{% csrf_token %}
          {% csrf_token %}
		<font color="red"><span>{{error}}</span></font><br>

      <div class="input-group">
			<label><i>Name:<font color="red">*<span id="fname"></span></font></i></label>
			<input type="text" name="fname" placeholder="FirstName LastName" >
          </div>
	<div class="input-group">
			<label><i>Email Address:<font color="red">*<span id="email"></span></font></i></label>
			<input type="text" name="email" >
		</div>
              <div class="input-group">
			<label><i>Password<font color="red">*<span id="password"></span></font></i></label>
			<input type="text" name="password" placeholder="should be 8 letters and combination of letters and characters" >
		</div>
		    <div class="input-group">
			<label><i>Type :<font color="red"></font></i></label>
				</div>
			<div class="col-75">
        <select id="type" name="type">
          <option value="Manager">Manager</option>
          <option value="Employee">Employee</option>
        </select>
          </div>
              <div class="input-group">
			<label><i>Job title:<font color="red">*<span id="job_title"></span></font></i></label>
			<input type="text" name="job_title" placeholder="job title" >
		</div>

	 	<div class="input-group">
			<label><i>Date of joing:<font color="red">*<span id="doj"></span></font></i></label>
			<input type="text" name="doj" >
		</div>
		<div class="input-group">
			<label><i>last appraisal date:</i></label>
			<input type="text" name="last_ap_date" value="" >
		</div>

              <div class="input-group">
			<label><i>Evalute by:</i></label>
			<input type="text" name="evalute_by" value="" >
		</div>

              <div class="input-group">
			<label><i>Email of reporting manager:</i></label>
			<input type="text" name="reporting_mail" value="" >
		</div>
		<div class="input-group">
			<button type="submit" name="login" class="btn"><b>Submit</b></button>
		</div>

	    <div class="input-group">
			<button type="submit" name="login" class="btn"><b>Details</b></button>
		</div>


		</form>


</body>
</html>